* {
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: #373b69;
}

h1 {
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.pelicula {
    width: 300px;
    margin: 1rem;
    background-color: #373b69;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.pelicula img {
    width: 100%;
}

.pelicula-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.pelicula-info h3 {
    margin-top: 0;
}

.pelicula-info span {
    background-color: #22254b;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.resumen {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-out;
}

.pelicula:hover .resumen {
    transform: translateY(0);
}